.sweeperBoard {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    position: relative;
}

.slot {
    width: 8%;
    min-width: 8%;
    max-widht: 8%;
    height: 8%;
    border: 1px solid black;
    display: table-cell;
}