body {
    background: linear-gradient(to bottom, rgb(255, 255, 255), rgb(200, 200, 255), rgb(150, 150, 255), rgb(100, 100, 255), rgb(50, 50, 255), rgb(0, 0, 255));
    min-height: 600px;
    min-width: 800px;
}

.sweeperBoard {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.slot {
    width: 9%;
    min-width: 9%;
    max-width: 9%;
    height: 9%;
    border: 1px solid black;
    display: inline-block;
    background: linear-gradient(to bottom, rgb(180, 180, 180), rgb(150, 150, 150), rgb(100, 100, 100));
    padding: 2px;
    text-align: center;
    vertical-align: middle;
    color: rgb(200, 24, 24);
    font-weight: bold;
}

.slot:hover,
.slotClicked {
    background: linear-gradient(to bottom, rgb(240, 240, 240), rgb(210, 210, 210), rgb(160, 160, 160));
}

.gameOver {
    color: white;
    font-size: 20px;
    font-weight: bold;
    z-index: 100;
    text-align: center;
    position: absolute;
    top: 50px;
    left: 50%;
}

.gameOverInner {
    border: 2px solid black;
    border-radius: 15px;
    background-color: rgba(10, 10, 200, 0.7);
    position: relative;
    left: -50%;
    padding: 10px;
}

.bomb, .flag {
    width: 90%;
    height: 90%;
    z-index: 50;
    position: relative;
    float: left;
    background-size: 90% 90%;
    background-repeat: no-repeat;
}

.bomb {
    background-image: url('img/bomb.png');
}

.flag {
    background-image: url('img/flag.png');
}
